{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "latest",
    "stage-0"
  ],
  "plugins": [
    "array-includes",
    "transform-async-to-generator",
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-rewire"]
    }
  }
}
