.DS_Store
.idea
node_modules
npm-debug.log
dist
test/coverage
.eslintcache
yarn-error.log
jest
/buildTools/graphql/schema.graphql
/buildTools/graphql/updateSchema.js.transpiled
/buildTools/graphql/schema.json
/src/universal/data/raw.json
.**sw*
